{:repository/id etzhayyim/com-etzhayyim-first-breath
 :repository/category :actor
 :canonical-format :edn
 :runtime-state "state.edn"
 :depends-on
 {com-junkawasaki/eth-crypto-clj "9208ecc09a32cf51627ed32eb417e4834f208324"}
 :external-wire-formats #{:json-rpc}}
